.header {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 30px 0;

  &__title {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 10px;
    height: 35px;
  }

  &__score {
    color: #99a9bf;
  }
}

.footer {
  display: flex;
  justify-content: center;
  color: #99a9bf;
  margin: 25px 0;
}
